@import url(https://fonts.googleapis.com/css?family=PT+Sans:300,400,600);

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{ 
	margin:0; 
	padding:0; 
	font-family: 'PT Sans', sans-serif; 
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 25%;
}

.top-margin{
	margin-top: 2%;
}

.bottom-margin{
	margin-bottom: 2%;
}

.equal-margin{
	text-align: center;
    margin: 7% 15% 7% 7%;
}

.color-white{
	color: white!important;
}

.centrar-txt{
	text-align: center;
}
a{
	text-decoration: none:;
}

.side-padding{
	padding: 0 5%;
}

.puntero{
	cursor: pointer!important;
}

.navbar-brand{
    height: initial!important;
    border-radius: 50%;
    background-color: white;
    margin: 15px 15px 15px 17%;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: rgb(255, 255, 255);
}

    /* height: 50px; */

/* Main Page */
#mainNav{
	background: #337ab7;
    border: none;
    margin: 0 0 10% 0;
}

/* Main Page */

/* Footer */
footer {
  background-color: #337ab7;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  color: white;
}
/* Footer */